* {
    margin: 0;
    padding: 0;
}

.container {
    border: solid black 1px;
    max-width: 375px;
    text-align: center;
    padding: 0;
}

.logo {
    height: 25px;
}

.top {
    padding: 1em;
}

.hero_image {
    margin: 5em 0 2.5em 0;
    max-width: 100%;
}

h1 {
    font-size:x-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1em;
    color: hsl(243, 87%, 12%);
}

p{
    color: hsl(243, 87%, 12%);
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
}

/* input {
    border: 1px black solid;
} */

.get-started {
    padding: .4em 7.8em;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5em;
}

.section-img {
    position: relative;
    bottom: 2em;
}

.middle {
    background-color: #F8F8FE;
    /* padding: 1em; */
}

.body-img {
    margin: 1em 0 5em 0;
    max-width: 100%;
}

h6 {
    margin-bottom: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.body_p {
    text-align: left;
    color: hsl(238, 22%, 44%);
}